.promo {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #272727;
  border-radius: 10px 10px 0 0;
}

.promo__heading {
  max-width: 730px;
  height: min-content;
  text-align: center;
  padding: 0;
  margin: 160px auto 121px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  color: #fff;
}

@media screen and (max-width: 1240px) {
  .promo {
    max-width: 1000px;
  }

  .promo__heading {
    max-width: 680px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 1070px) {
  .promo {
    max-width: 728px;
  }

  .promo__heading {
    margin: 350px auto 284px;
  }
}

@media screen and (max-width: 750px) {
  .promo {
    max-width: 520px;
  }
  .promo__heading {
    font-size: 29px;
    line-height: 37px;
    margin: 220px 14px 212px;
  }
}

@media screen and (max-width: 550px) {
  .promo {
    max-width: 292px;
  }

  .promo__heading {
    max-width: 292px;
    margin-left: 0;
    margin-right: 0;
  }
}
