.info-popup {
  position: fixed;
  visibility: hidden;
  display: flex;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}

.info-popup__container {
  margin: auto;
  width: 430px;
  z-index: 3;
  display: flex;
  flex-direction: column;
  background-color: #202020;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  position: relative;
}

.info__form {
  width: 358px;
  display: flex;
  flex-direction: column;
  padding: 34px 36px 0;
  margin: auto;
}

.info__label {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  padding: 0 0 25px;
  margin: 0;
  text-align: center;
}

.info__label_color_white {
  color: #fff;
}

.info__label_color_red {
  color: #ee3465;
}

.info__ok-button {
  height: 50px;
  font-family: "Inter", "Arial Narrow Bold", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background-color: #4285f4;
  border: none;
  border-radius: 3px;
  margin: 13px 0 37px 0;
  box-sizing: border-box;
  padding: 0;
  cursor: pointer;
}

.info__ok-button:hover {
  opacity: 0.8;
  transition: opacity 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .info-popup__container {
    width: 292px;
  }

  .info__form {
    width: 284px;
    padding: 0;
  }

  .info__label {
    font-size: 15px;
    line-height: 12px;
    padding: 20px 0 10px;
  }

  .info__ok-button {
    width: 250px;
    height: 40px;
    align-self: center;
    font-size: 12px;
    line-height: 15px;
    margin: 15px 0 20px 0;
  }
}
