.portfolio {
  display: flex;
  flex-direction: column;
  width: 1140px;
  margin: 0 auto;
  padding: 0 0 125px 0;
}

.portfolio__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  margin: 0;
  padding: 0 0 50px 0;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}

.portfolio__link-item {
  list-style: none;
}

.portfolio__link {
  display: flex;
  width: 1140px;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding: 30px 0;
}

.portfolio__link-item::after {
  content: '';
  display: block;
  border-bottom: 1px solid #424242;;
}

.portfolio__link-item:last-child::after {
  content: none;
  display: none;
  border: none;
}

.portfolio__link:hover {
  opacity: .6;
  transition: opacity .3s;
}

.portfolio__link_name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.portfolio__link_image {
  width: 18px;
  height: 17px;
}
