.register-form {
  width: 396px;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: auto;
}

.register-form__icon {
  width: 38px;
  height: 38px;
  margin-top: 70px;
  background-image: url('../../images/header-logo.png');
}

.register-form__label {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  padding: 40px 0 14px;
  margin: 0;
}

.register-form__input-name {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
  padding: 24px 0 5px 0;
  margin: 0;
}

.register-form__input-name:nth-of-type(2), .register-form__input-name:nth-of-type(3) {
  padding-top: 5px;
}

.register-form__input {
  height: 30px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #424242;
  box-sizing: border-box;
  padding: 0 0 10px 0;
}

.register-form__input:focus {
  outline: none;
  border-bottom: 1px solid #4285F4;;
}

.register-form__input_type_error {
  color: #EE3465;
}

.register-form__input-error {
  height: 12px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  margin: 0;
  padding: 6px 0 0;
}

.register-form__authorize-button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: #4285F4;
  border: none;
  border-radius: 3px;
  margin-top: 132px;
  padding: 15px 0 15px;
  cursor: pointer;
  box-sizing: border-box;
}

.register-form__authorize-button:hover {
  opacity: .8;
  transition: .3s;
}

.register-form__subscription {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  margin: 0;
  padding: 16px 0 0;
}

.register-form__link {
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4285F4;
  margin: 0;
  padding: 0 0 0 3px;
}

.register-form__link:hover {
  opacity: .8;
  transition: .3s;
}

@media screen and (max-width: 1070px) {
  .register-form__icon {
    margin-top: 232px;
  }
}

@media screen and (max-width: 550px) {
  .register-form {
    width: 260px;
  }

  .register-form__icon {
    margin-top: 56px;
    align-self: center;
  }

  .register-form__label {
    align-self: center;
    padding-top: 50px;
  }

  .register-form__input-name {
    padding-top: 65px;
  }

  .register-form__input-name:nth-of-type(2), .register-form__input-name:nth-of-type(3) {
    padding-top: 4px;
  }

  .register-form__subscription {
    font-size: 12px;
    line-height: 15px;
    padding-top: 14px;
  }

  .register-form__authorize-button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 221px;
  }

  .register-form__link {
    font-size: 12px;
    line-height: 15px;
  }
}
